/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* tailwind css import */
@import "tailwindcss";

@theme {
  --font-psans: "Public Sans", sans-serif;
}

/* padding */ /* height */
@theme {
  --spacing-52p: 52px;
  --spacing-88p: 88px;
  --spacing-300p: 300px;
  --spacing-646p: 646px;
}

/* color */
@theme {
  --color-Secondary-700: #1b6392;
}

@layer components {
  .layout {
    @apply px-300p w-full;
  }
}
